[Unit]
Description=Telorgon graphical session
BindsTo=graphical-session.target telorgon-shell.service
After=telorgon-shell.service
Wants=pipewire.service pipewire-pulse.service wireplumber.service xdg-desktop-portal.service
